.mainContainer{
    display:flex !important;
    max-width: 100%;
    height:100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.imgLogin{
    display: flex;
    height: 600px;
}

.mailLogo{
    width: 230px;
    height: 110px;
    display: grid;
    margin-top: 20px;
}

.imgRegister{
    display: flex !important;
    height: 620px;
}

.imgGoogle{
    width: 140px;
    height: 65px;
    margin-top: 10px;
}

.imgError{
    display: flex;
    max-width: 1400px;
    max-height: 500px;
    height: auto;    
}
.Star{
    font-size:small;
    color: #FADA5E;
}
